.entete
{
   // background-color: #1283EB;
    padding: 1.5rem;
    margin-bottom: 35px;
    width: 100%;
    //height: 95px;
}
.nav
{
    height: 75px;
    background-color :rgba(243, 18, 18, 0.69);
   // margin-bottom: 35px;
    
}
.texte_souligne 
{
  text-decoration: none; // Enlevez le soulignement de base
  &:hover {
    text-decoration: underline; // Ajoutez un soulignement au passage de la souris
  }
}
.rouge
{ 
  color: white;
  &:focus {
    color: red; /* Changer la couleur du lien */
  }

}

/*a:active {
  color: red; /* Changer la couleur du lien */
//}


