<nav class="nav navbar navbar-expand-md fixed-top navbar-light w-auto  container-fluid "  >
    <div class="container">
        <img src="/assets/logo.jpg" alt="" width="60" height="54" class="d-inline-block align-text-top">      
        <div class="w-10">
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
       </button>
      </div>
       <div class="col-7 collapse navbar-collapse justify-content-center offset-2" id="navbarNav">
          <ul class="navbar-nav me-auto my-14 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item px-4">
                  <a href=" "  class="nav-link rouge texte_souligne px-3">Home</a>
              </li>
              <li class="nav-item text-white ">
                  <a href="formation/liste" class="nav-link rouge texte_souligne px-3"  >Service</a>
              </li>
              <li class="nav-item   ">
                  <a href="accueil/campus_france"class="nav-link rouge texte_souligne px-3" >About us</a>
              </li>
              <li class="nav-item   ">
                <a href="accueil/visa"class="nav-link rouge  texte_souligne px-3" >Comments</a>
              </li>
              <li class="nav-item">
                  <a href="accueil/a_propos" class="nav-link rouge texte_souligne px-3" >Contact</a>
              </li>
              <li class="nav-item texte_souligne px-3">
                <a href="" class="text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle d-inline-block align-text-top" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                </a>  
                </li>
                <li class="nav-item dropdown rouge texte_souligne px-3">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Help
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
          </ul>
          
           </div>
     </div>
</nav>



