<h2 class="text-center" style="margin-top: 90px ;"><strong>Objets perdus : </strong> </h2>
<section class="container" style="margin-top: 30px ;">
    <table class="table" >
        <thead >
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Type</th>
            <th scope="col">Précision</th>
            <th scope="col">Region</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody *ngFor="let objet of objet">
        <tr>
            <td>{{objet.nom}}</td>
            <td>{{objet.type}}</td>
            <td>{{objet.precision}}</td>
            <td>{{objet.lieu.region}}</td>
            <td>{{objet.date_creation}}</td>

        </tr>
        </tbody>
    </table>
</section>