<h2 class="text-center" style="margin-top: 90px ;"><strong>J'ai trouvé : </strong> </h2>
<div class="container">
    <div class="row">
        <form class="row">
                <label for="" class="form-label d-inline" style="display:block;"> <strong class="display-7"> Type</strong> </label>
                <select class="form-select d-inline" size="1" aria-label="Default select example" style="width: 400px; display: block;">
                    <option selected>Carte nationale d'identité</option>
                    <option value="1">Passeport</option>
                    <option value="2">Acte de naissance</option>
                    <option value="3">Diplome</option>
                </select> 
                <label for="" class="form-label d-inline" style="display:block;"> <strong class="display-7"> Lieu</strong> </label>
                <select class="form-select d-inline" size="1" aria-label="Default select example" style="width: 300px; display: block;">
                    <option selected>Ville</option>
                    <option value="1">Yaoundé</option>
                    <option value="2">Douala</option>
                    <option value="3">Maroua</option>
                </select> 
                <select class="form-select d-inline" size="1" aria-label="Default select example" style="width: 300px; display: block; ">
                    <option selected>Quartier</option>
                    <option value="1">Ngousso</option>
                    <option value="2">Soa</option>
                    <option value="3">Manguier</option>
                </select>
                <select class="form-select d-inline" size="1" aria-label="Default select example" style="width: 200px; display: block;">
                    <option selected>Précision</option>
                    <option value="1">Aéroport</option>
                    <option value="2">Gare routière</option>
                    <option value="3">Hopital</option>
                </select> <br>
                <label for="" class="form-label d-inline" style="display:block;"> <strong class="display-7"> Date</strong> </label>
                <input type="date" name="" id="">
                <label for="" class="form-label d-inline" style="display:block;"> <strong class="display-7"> Description</strong> </label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <label for="" class="form-label d-inline" style="display:block;"> <strong class="display-7"> Image</strong> </label>
                <input type="file" name="" id="">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn_coaching py-4 mt-2" style="background-color: rgba(245, 117, 134, 0.774); width: 300px; border-radius: 15%;">Publier mon annonce</button>
                </div>        
            </form>
    </div>
</div>
