<div class="" style="background-color: rgba(177, 223, 222, 0.92);margin-top: 75px;">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <img src="/assets/vue-face-femme-smartphone-studio.jpg" alt="" width="500" height="550"> 
           </div>
           <div class="col-5">
            <br><br><br><br>
               <p class="display-4">
                  <strong> A lost object that can be found through the application. </strong>
               </p>
               
                <button type="button" class="jello-horizontal btn btn-danger btn-lg btn_coaching" (click)="onViewFormation()" style="background-color: #F31111;"><strong> Lost Object </strong> </button> <br> <br> <br>

                <a href="trouve/form">
                <button type="button" class="jello-horizontal btn btn-danger btn-lg btn_coaching text-black" style="background-color: white;"> <strong>Found Object</strong> </button>
               </a>
           </div>
        </div>
       
    </div>
<br>
<br>
<br>
</div>
<section>
   <br> <h3 class="text-center" style="text-decoration: underline red;"><strong>Service</strong> </h3> 
    <h4 class="text-center">Easy to found objects</h4> <br>
    <div class="container">
        <div class="row">
            <div class="col-3 offset-1">
                <img src="/assets/Task Planning.png" width="200" height="200" alt=""> <br> <br>
                <h4><strong>Report a lost object</strong> </h4>
                <p>
                    Complete the declaration form 
                    giving as much detail as possible 
                    (on the location of the loss, 
                    the type of the object, its description)
                    to help the algorithm identify it quickly
                </p>
            </div>
            <div class="col-4 offset-1">
                <img src="/assets/Safety Care.png" width="200" height="200" alt=""> <br> <br>
                <h4><strong>Report a lost object</strong> </h4>
                <p>
                    Complete the declaration form 
                    giving as much detail as possible 
                    (on the location of the loss, 
                    the type of the object, its description)
                    to help the algorithm identify it quickly
                </p>
            </div>
            <div class="col-3">
                <img src="/assets/Holding Box.png" width="200" height="200" alt=""> <br> <br>
                <h4><strong>Report a lost object</strong> </h4>
                <p>
                    Complete the declaration form 
                    giving as much detail as possible 
                    (on the location of the loss, 
                    the type of the object, its description)
                    to help the algorithm identify it quickly
                </p>
            </div>
        </div>
    </div>
    <br> <h3 class="text-center" style="text-decoration: underline red;"><strong>Operation</strong> </h3> 
    <h4 class="text-center">How it works</h4> <br>
    <div class="container">
        <div class="row mb-5">
            <div class="col-3">
                <img src="/assets/homme phone.jpg" width="270px" height="165px" alt="">
            </div>
            <div class="col-9" style="background-color: rgba(177, 223, 222, 0.92);">
                <p class="text-center"> <br> <br>
                    <strong>
                        You post a lost or found object on the platform, 
                        giving as much information as possible about the object (the area where the object
                         was lost or found, the description, etc.)
                    </strong>
                </p> 
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-3">
                <img src="/assets/algo.jpg" width="270px" height="165px" alt="">
            </div>
            <div class="col-9" style="background-color: rgba(177, 223, 222, 0.92);">
                <p class="text-center"> <br><br>
                  <strong>
                        The matching algorithm helps us identify matches (object and owner) in the database
                        quickly and without searching.
                    </strong> 
                 </p> 
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="/assets/couple content.jpg" width="270px" height="165px" alt="">
            </div>
            <div class="col-9" style="background-color: rgba(177, 223, 222, 0.92);">
                <p class="text-center"> <br> <br>
                    <strong>
                        When the matching is successful, you will be notified of
                        the location and address of the partner who holds your object. 
                       Then you can talk to each other to make an appointment. 
                    </strong>
                 </p>
            </div>
        </div>
    </div>
    <br> <h3 class="text-center" style="text-decoration: underline red;"><strong>About us</strong> </h3> 
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="/assets/equipenoir.jpg" width="290px" height="185px" alt="">
            </div>
            <div class="col-9" style="background-color: white">
                <p class="text-center"> <br> <br>
                        The team is made up of five competent and experienced members in different areas of IT. 
                        Everyone brings specialized knowledge and complementary skills to the team.
                         They collaborate closely to design, develop and maintain high-quality software solutions.
                </p>
            </div>
        </div>
    </div>
    <br> <h3 class="text-center" style="text-decoration: underline red;"><strong>Comments</strong> </h3> 
    <div class="container">
        <div class="row"  style="background-color: rgba(177, 223, 222, 0.92);">
            <div class="col-7">
               <br> <h4 class="">
                   <strong> Our customers testify</strong>
                </h4>
                <h6>
                   <small> Nearly 10 already satisfied</small>
                </h6>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" style="color: yellow;" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" style="color: yellow;" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" style="color: yellow;" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" style="color: yellow;" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
            </div>
            <div class="col-5">

            </div>
        </div>
    </div>
    <br> <h3 class="text-center" style="text-decoration: underline red;"><strong>Report an object</strong> </h3> <br>
    <div class="d-flex justify-content-center">
        <a href="perdu/form">
            <button type="button" class="jello-horizontal btn btn-danger btn-lg btn_coaching mx-4" style="background-color: #F31111;">Lost Object</button>
        </a>
        <a href="trouve/form">
            <button type="button" class="jello-horizontal btn btn-danger btn-lg btn_coaching text-black" style="background-color: white;">Found Object</button>  <br>  
        </a>
        <a href="recherche/recherche">
            <button type="button" class="jello-horizontal btn btn-danger btn-lg btn_coaching text-black mx-4" style="background-color: rgba(177, 223, 222, 0.92)">Search an Object</button>  <br>  
        </a>
    </div>
</section>