<h2 class="text-center" style="margin-top: 90px ;"><strong>J'ai perdu : </strong> </h2>
<div class="container">
    <div class="row">
        <form class="row" (submit)="onSubmit()">
                <label for="" class="form-label d-inline" style="display:block;"> <strong class="display-7"> Nom</strong> </label>
                <input type="text" name="" placeholder="nom" [(ngModel)]="nom" name="nom" style="width: 150px; display: block;">
                <label for="" class="form-label d-inline" style="display:block;"> <strong class="display-7"> Type</strong> </label>
                <select class="form-select d-inline" size="1" aria-label="Default select example"[(ngModel)]="type" name="type" style="width: 400px; display: block;">
                    <option selected>Carte nationale d'identité</option>
                    <option >Passeport</option>
                    <option >Acte de naissance</option>
                    <option >Diplome</option>
                </select> 
                <label for="" class="form-label d-inline" style="display:block;"> <strong class="display-7"> Lieu</strong> </label>
                <select class="form-select d-inline"  size="1" aria-label="Default select example" [(ngModel)]="region" name="region" style="width: 300px; display: block;">
                    <option selected>Region</option>
                    <option >Centre</option>
                    <option >Lttoral</option>
                    <option >Sud</option>
                    <option >Nord</option>
                    <option >Est</option>
                    <option >Extreme Nord</option>
                    <option >Sud-Ouest</option>
                    <option >Nord-Ouest</option>
                    <option >Adamaoua</option>
                    <option >Ouest</option>
                </select> 
                <input type="text" name="" placeholder="ville" id="" [(ngModel)]="ville" name="ville" style="width: 250px; display: block;">
                <input type="text" name="" placeholder="Quartier" id="" [(ngModel)]="quartier" name="quartier" style="width: 250px; display: block;">
                <select class="form-select d-inline" size="1" aria-label="Default select example" [(ngModel)]="precision" name="precision" style="width: 200px; display: block;">
                    <option selected>Précision</option>
                    <option >Aéroport</option>
                    <option >Gare routière</option>
                    <option >Hopital</option>
                </select> <br>
                <label for="" class="form-label d-inline" style="display:block;"> <strong class="display-7"> Date</strong> </label>
                <input type="date" name="" id="" [(ngModel)]="date" name="date">
                <label for="" class="form-label d-inline" style="display:block;"> <strong class="display-7"> Description</strong> </label>
                <textarea name="" id="" cols="30" rows="10" [(ngModel)]="description" name="description"></textarea>
                <label for="" class="form-label d-inline" style="display:block;"> <strong class="display-7"> Etat</strong> </label>
                <select class="form-select d-inline" size="1" aria-label="Default select example" [(ngModel)]="etat" name="etat" style="width: 200px; display: block;">
                    <option selected>perdu</option>
                </select> <br>
                <label for="" class="form-label d-inline" style="display:block;"> <strong class="display-7"> Image</strong> </label>
                <input type="file" name="" id="">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn_coaching py-4 mt-2" style="background-color: rgba(245, 117, 134, 0.774); width: 300px; border-radius: 15%;">Publier mon annonce</button>
                </div>        
            </form>
    </div>
</div>
